
<div id="search">
  <br>
  <div class="search-m">

    <div class="row">
      <!-- <div class="col-lg-3">
        <div class="input-group">
          <input ngModel name="name" id="inputItemname" class="form-control" type="text" style="width: 200px;">
           <span class="input-group-btn">
            <button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button> 
          </span>
          <button class="btn btn-lg btn-primary" type="submit">Search</button>
        </div>
        
      </div> -->

      <div class="col-md-3"><input ngModel name="name" id="inputItemname" class="form-control" type="text" style="width: 200px;"></div>
      <div class="col-md-3"><button class="btn btn-lg btn-primary" type="submit">Search</button></div>
      <div class="col-md-3">
        <a href="/cart"><span class="glyphicon glyphicon-shopping-cart">My Cart</span></a>
      </div>
    </div>
  </div>

</div>